section {
    max-width: 500px;
    margin: 50px auto;
    background-color: brown;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
}

input{
    border-style: none;
    outline-color: burlywood;
    margin: 5px;
}

button{
    margin-top: 10px;
    background-color: burlywood;
    border-style: none;
    color: white;
    border-color: white;
}